api = "0.7"

[buildpack]
  id = "paketo-buildpacks/miniconda"
  name = "Paketo Miniconda Buildpack"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/miniconda/blob/main/LICENSE"

[metadata]
  include-files = ["bin/run", "bin/build", "bin/detect", "buildpack.toml"]
  pre-package = "./scripts/build.sh"

  [[metadata.dependencies]]
    cpe = "cpe:2.3:a:conda:miniconda3:4.9.2:*:*:*:*:python:*:*"
    id = "miniconda3"
    name = "Miniconda"
    sha256 = "536817d1b14cb1ada88900f5be51ce0a5e042bae178b5550e62f61e223deae7c"
    source = "https://github.com/conda/conda/archive/4.9.2.tar.gz"
    source_sha256 = "d7f946e5c770e45da8961323ca96399bf1a881eb68bbaecc7cb1e249f5c86d54"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://repo.anaconda.com/miniconda/Miniconda3-py39_4.9.2-Linux-x86_64.sh"
    version = "4.9.2"

  [[metadata.dependency_deprecation_dates]]
    date = "2023-06-27T00:00:00Z"
    link = "https://www.python.org/dev/peps/pep-0537/"
    name = "miniconda3"
    version_line = "4.7.x"

[[stacks]]
  id = "org.cloudfoundry.stacks.cflinuxfs3"

[[stacks]]
  id = "io.buildpacks.stacks.bionic"
