api = "0.7"

[buildpack]
  id = "paketo-buildpacks/miniconda"
  name = "Paketo Buildpack for Miniconda"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]
  version = "5.8.0"

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/miniconda/blob/main/LICENSE"

[metadata]
  include-files = ["bin/run", "bin/build", "bin/detect", "buildpack.toml"]
  pre-package = "./scripts/build.sh"

  [[metadata.dependencies]]
    cpe = "cpe:2.3:a:conda:miniconda3:24.1.2:*:*:*:*:python:*:*"
    id = "miniconda3"
    name = "Miniconda.sh"
    uri = "https://repo.anaconda.com/miniconda/Miniconda3-py39_24.1.2-0-Linux-x86_64.sh"
    sha256 = "2ec135e4ae2154bb41e8df9ecac7ef23a7d6ca59fc1c8071cfe5298505c19140"
    source = "https://github.com/conda/conda/archive/refs/tags/24.1.2.tar.gz"
    sha256_source = "d5558cd419c8d46bdc958064cb97f963d1ea793866414c025906ec15033512ed"
    stacks = ["*"]
    version = "24.1.2"

[[stacks]]
  id = "*"
