api = "0.7"

[buildpack]
  id = "paketo-buildpacks/miniconda"
  name = "Paketo Buildpack for Miniconda"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/miniconda/blob/main/LICENSE"

[metadata]
  include-files = ["bin/run", "bin/build", "bin/detect", "buildpack.toml"]
  pre-package = "./scripts/build.sh"

  [[metadata.dependencies]]
    cpe = "cpe:2.3:a:conda:miniconda3:4.11.0:*:*:*:*:python:*:*"
    id = "miniconda3"
    name = "Miniconda"
    sha256 = "4ee9c3aa53329cd7a63b49877c0babb49b19b7e5af29807b793a76bdb1d362b4"
    source = "https://github.com/conda/conda/archive/4.11.0.tar.gz"
    source_sha256 = "1843355ccb93afb05f2a307e1fc37403fb9976da799236eebc3adee1c716c5fc"
    stacks = ["*"]
    uri = "https://repo.anaconda.com/miniconda/Miniconda3-py39_4.11.0-Linux-x86_64.sh"
    version = "4.11.0"

[[stacks]]
  id = "*"
